/* CSS 박스 모델 */
/* 
Content: 실제 내용 (텍스트, 이미지)
Padding: 내용과 테두리 사이 안쪽 여백
Border: 테두리
Margin: 요소 외부 바깥 여백
*/

.box {
  background-color: green;
  /* px: 절대 단위 */
  width: 200px; /* 픽셀 */
  height: 200px;

  /* 상대 단위 */
  width: 50%; /* 부모의 50% */
  width: 25%; /* 부모의 25% */

  /* 뷰포트 기준 */
  width: 50vw; /* 뷰포트 너비의 50% */
  width: 50vh; /* 뷰포트 높이의 50% */

  /* Padding(여백) */
  /* 네 방향 개별 지정 가능 */
  padding: 30px;
  padding-left: 10px;
  padding-top: 20px;
  padding-right: 30px;
  padding-bottom: 40px;

  /* 4개 값: 상 우 하 좌 (시계방향) */
  padding: 1px 2px 3px 4px;
  /* 3개 값: 상 좌우 하 */
  padding: 11px 22px 33px;
  /* 2개 값: 상하 좌우 */
  padding: 15px 25px;

  /* Margin(바깥 여백) */
  margin: 20px;
  margin-top: 10px;
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 10px;

  /* 4개 값: 상 우 하 좌 (시계방향) */
  margin: 1px 2px 3px 4px;
  /* 3개 값: 상 좌우 하 */
  margin: 11px 22px 33px;
  /* 2개 값: 상하 좌우 */
  margin: 15px 25px;

  /* Border(테두리) */
  border-width: 2px;
  border-style: dotted;
  border-color: red;

  /* 단축 속성 */
  border: 1px solid black;
  border-radius: 10px; /* 50%로 주는 것도 가능 */
}

.circle {
    border-radius: 50%;
    background-color: #eee;
    width: 100px;
    height: 100px;
}

.custom {
    border-radius: 10px 20px 30px 40px;
    background-color: #aaa;
    width: 100px;
    height: 100px;
}

/* 마진 상쇄 */
/* Margin 병합 (Marge Collapse) */
/* 세로 방향 마진은 병합됨 */

.box1 {
    width: 100px;
    height: 100px;
    background-color: brown;
    margin-bottom: 50px;
}
.box2 {
    width: 100px;
    height: 100px;
    background-color: beige;
    margin-top: 20px;
}

/* box-sizing 속성 */
/* content-box(기본값) */
/* width/height가 content 영역만 포함 */
.box1 {
    box-sizing: content-box;
    width:150px;
    height: 150px;

    padding: 20px;
    margin: 30px;

    border: 5px solid black;
}

/* 실제 너비 150 + 20 * 2 + 30 * 2 */

/* border-box */
/* width/height가 padding과 border 포함 */
/* 권장함 */
.box1 {
    box-sizing: border-box;
    width:150px;
    height: 150px;

    padding: 20px;
    margin: 30px;

    border: 5px solid black;
}

/* 블록 vs 인라인 요소 */
/* 블록 요소 */
div, p, h1, ul, li, section {
    display: block;
}
/* 
    한 줄 전체 차지
    width, height 적용 가능
    margin, padding 모두 적용
*/

/* 인라인 요소 */
span, a, strong, 
/* 
    내용만큼만 차지
    width, height 적용 불가능
    상하 margin 적용 안 됨
 */

 span,
 a,
 strong,
 em {
    display: inline;
    width: 200px;
 }


 /* 인라인 블록(inline-block) */
 span {
    display: inline-block;
    width: 100px;
    height: 200px;
 }

 /*
 인라인처럼 나란히 배치
 width, height, margin, paddin 모두 적용
 */