.card {
  width: 250px;
  padding: 20px;
  margin: 50px auto;
  text-align: center;
  background: #ffffff;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.15);
  font-family: "Arial";
}

.profile-img {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-bottom: 15px;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin: 5px 0;
  background: #f0f0f0;
  padding: 8px;
  border-radius: 8px;
  font-size: 14px;
}
