.container {
    display: grid;

    grid-template-columns: repeat(3, 150px);
    grid-template-rows: repeat(3, 70px);
    gap: 15px;

}

.item {
    background-color: beige;
    border: 1px solid black;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.item1 {
    grid-column: 1 / span 2;
    grid-row: 1 / span 2;
}

.item4 {
    grid-column: 1 /span 2;
}

/* -------------------------------------------------------------------- */

.container1 {
    display: grid;
    grid-template-columns: repeat(3, 150px);
    gap: 15px;
}

.item0 {
    text-align: center;
    align-content: center;

    background-color: antiquewhite;
    
    border: 1px solid black;
}

.item9 {
    grid-row: span 2;
    grid-column: span 2;
}

.item8 {
    grid-column: span 2;
}