* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f5f5f5;
    padding: 40px;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
}

.card {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgb(0, 0, 0, 1);
}

/* 그림자 효과(box-shadow) */
/* 
    box-shadow: x offset, y offset, blur, spread, color
    x offset: 가로 이동
    y offset: 세로 이동
    blur: 흐림 정도
    spread: 확산 크기
    color: 그림자 색상
*/
.card h3 {
    color:  #2c3e50;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 2px solid #3499db;
}