/* 공통 원 스타일 */
.circle {
  border: 3px solid black;
  border-radius: 50%;
  position: relative;
}

/* 각 원의 위치 → 원본처럼 기울어진 형태 */
.red {
  width: 100px;
  height: 100px;
  background: rgba(235, 50, 50, 1);
}

.yellow {
  width: 130px;
  height: 130px;
  background: rgba(255, 235, 59, 1);
  top: -70px;
  left: 80px;
  z-index: 1;
}

.orange {
  width: 100px;
  height: 100px;
  background: rgba(255, 152, 0, 1);
  top: -120px;
  left: 180px;
}
.green {
  width: 120px;
  height: 120px;
  background: rgba(76, 175, 80, 1);
  top: -200px;
  left: 250px;
  z-index: 1;
}
.blue {
  width: 110px;
  height: 110px;
  background: rgba(63, 81, 181, 1);
  top: -300px;
  left: 330px;
}

/* 눈 */
.eye {
    width: 20px;
    height: 20px;
    border: 1px solid black;
    border-radius: 50%;
    background: rgba(235, 50, 50, 1);
    position: absolute;
    top: 20px;
    left: 25px;
}

.eye::after {
    content: "";
    width: 10px;
    height: 10px;
    background: black;
    border-radius: 50%;
    position: absolute;
    top: 4px;
    left: 4px;
}
